{% extends 'base.html' %}

{% block content %}

<div class="column" style="background-color: rgb(74, 1, 1);">

{% for profile in profiles %}

    <div class="block">
      <div class="card" style="background-color: rgb(244, 226, 192);">
        <a href="{% url 'whisper:profile' profile.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://th.bing.com/th/id/OIP.d86XWMIvFtPNm5-RTlyLHAHaKc?rs=1&pid=ImgDetMain"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4" style="color: black;">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6" style="color: black;">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

{% endfor %}

</div>

{% endblock content %}